<div class="content content--narrow">
    <div class="panel">
        <h2 class="panel__title">Settings</h2>
        <div class="panel__body">
            <form class="form" action="">
                <div class="form__item">
                    <label for="input-primary-color">Primary color</label>
                    <input id="input-primary-color" type="color" class="input" value="#2563eb" data-primary>
                </div>
                <div class="form__item">
                    <label for="input-secondary-color">Secondary color</label>
                    <input id="input-secondary-color" type="color" class="input" value="#4ac7c4" data-secondary>
                </div>
                 <div class="form__item">
                    <label for="input-ternary-color">Ternary color</label>
                    <input id="input-ternary-color" type="color" class="input" value="#824aea" data-ternary>
                </div>
                <div class="form__item">
                    <label for="input-text-color">Text color</label>
                    <input id="input-text-color" type="color" class="input" value="#1e3a8a" data-text>
                </div>
            </form>
        </div>
    </div>
</div>